<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tripsy</title>
  <link rel="stylesheet" href="/style.css" type="text/css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
  <nav class="sidebar">
    <ul class="nav-group">
      <li>
        <a href="/" class="nav-button logo-button">
          <img src="/logo.png" alt="Logo Home" />
        </a>
      </li>
      <li>
        <a href="/" class="nav-button active">
          <img src="/home.png" alt="Home" />
        </a>
      </li>
      <li>
        <a href="/create" class="nav-button">
          <img src="/create.png" alt="Create" />
        </a>
      </li>
    </ul>
    <ul class="logout-group">
      <li>
        <a href="#" class="nav-button">
          <img src="/logout.png" alt="Log out" />
        </a>
      </li>
    </ul>
  </nav>

  <div id="content">
    <div class="header-row">
      <h1>My Trips</h1>
      <button class="nav-button">
        <img src="/delete.png" alt="Delete Table" />
      </button>
    </div>



    <table>
      <tr>
        <td class="top" colspan="3">WEEKEND AT UMD</td>
      </tr>
      <tr>
        <td class="location">BOSTON</td>
        <td class="emoji">&#9992;</td>
        <td class="location" style="text-align: right;">COLLEGE PARK</td>
      </tr>
      <tr>
        <td class="titles">DATE</td>
        <td class="titles">ADULTS</td>
        <td class="titles">CHILDREN</td>
      </tr>
      <tr>
        <td>05/16/2025</td>
        <td>3</td>
        <td>0</td>
      </tr>
      <tr>
        <td class="titles">NOTES</td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td colspan="3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id massa vel nulla sagittis vulputate. Donec pulvinar mollis laoreet. Aliquam erat volutpat. Ut ac lectus ac ipsum viverra egestas.</td>
      </tr>
      <tr>
        <td class="titles">HOTELS</td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td colspan="3">Holiday Inn</td>
      </tr>
      <tr>
        <td class="titles">RESTAURANTS</td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td colspan="3">Jewel of India</td>
      </tr>
      <tr>
        <td class="titles">ATTRACTIONS</td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td colspan="3">Looney's Pub</td>
      </tr>
    </table>

  </div>

</body>

</html>
