<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tripsy</title>
  <link rel="stylesheet" href="/style.css" type="text/css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
  <nav class="sidebar">
  <ul class="nav-group">
    <li>
      <a href="/" class="nav-button logo-button">
        <img src="/logo.png" alt="Logo Home" />
      </a>
    </li>
    <li>
      <a href="/" class="nav-button">
        <img src="/home.png" alt="Home" />
      </a>
    </li>
    <li>
      <a href="/create" class="nav-button active">
        <img src="/create.png" alt="Create" />
      </a>
    </li>
  </ul>
  <ul class="logout-group">
    <li>
      <a href="#" class="nav-button">
        <img src="/logout.png" alt="Log out" />
      </a>
    </li>
  </ul>
</nav>
<div id="content">
  <h1>Dashboard</h1>
    

</div>

</body>

</html>
